#ALONE CODER
# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=

# support links
SUPPORT_CHANNEL=
SUPPORT_CHAT=

# Railway YouTube API (get from your Railway deployment)
RAILWAY_YT_API_KEY=
RAILWAY_YT_API_URL=
COOKIES_DATA=

# limits for the bot
QUEUE_LIMIT=50
DURATION_LIMIT=5400
PLAYLIST_LIMIT=20
